DATABASE_PORT= modified
DATABASE_USER= modified
DATABASE_PASS= modified
DATABASE_NAME= modified
POSTGRES_PORT= modified
POSTGRES_USER= modified
POSTGRES_PASSWORD= modified
POSTGRES_DB= modified
PGADMIN_PORT= modified
PGADMIN_DEFAULT_EMAIL= modified
PGADMIN_DEFAULT_PASSWORD= modified